/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

* { margin:0; padding:0; }
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{-webkit-tap-highlight-color:transparent;background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em} sub{bottom:-0.25em}
img{border:0} svg:not(:root){overflow:hidden} figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0}
pre,textarea{overflow:auto}
optgroup{font-weight:bold}
/* End extract from normalize.css */

/* Google Form Hidden*/
form {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
/*End of Google Form Hidden*/

/*Initial Intro*/
body {
    background-color: black;
    background-image: url('../img/texture__dusty_wood_by_tzolkin.jpg');
    font-size:10px;

    
}


/*End of Initial Intro*/

/* Square */
/*
.square {
  position: relative;
  width: 50%;
    background-color: red;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}*/
/* End of Square*/
.square {
    border: 5px solid red;
    text-align: center;
    width: 50vw;
    height: 50vw;
    left: 50%;
  }

.content {
font-size: 2em;
padding-top: 20%;
}

.main-square {
      width: 100%;
  //  height: 100%;
        display: none;
    //margin: 0 auto;
  //  position: relative;
 //   background-color: black;
}

/* Grids */
.gridster {
  //  height: 100%;
   // top: 50%;
    //left: 50%;
    margin: 20px auto;
  //  position: absolute;
    //transform: translate(-50%, -50%);
  //    -webkit-transform:translate(-50%, -50%);  /* Chrome, Opera 15+, Safari 3.1+ */
  //    -ms-transform:translate(-50%, -50%);  /* IE 9 */
     //     transform:translate(-50%, -50%);

 //   margin: 0 auto;
  //  position: relative;
    
   width: 660px;
     
    
   // height: 100%;
 
    

  //  background-color: yellow;
  
}

.gridster ul {
  //  position: relative;
   //margin: 0 auto;
  //  box-sizing: border-box;
    list-style-type: none;
width: 660px;
 //   height: 960px;
    padding: 0;
    margin: 0;
  //  height: 100%;
  //  padding: 0;
   // background-color: red;
    //opacity: 0.5;
    bottom: 0;
}
.gridster li {
    // dark blue = #003471
   
     list-style-type: none;
 
    
   
}

.gridster li {
    background-color: #003471;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    opacity: 0.9;
   
}

#upper-right {
    background-color: green;
}

.rc-11 {
    background-image: url('../img/2-2.gif');
    background-size: 200px 200px;    
}
.rc-12 {
    background-image: url('../img/0-1.gif');
    background-size: 200px 200px;    
}
.rc-13 {
    background-image: url('../img/1-1.gif');
    background-size: 200px 200px;    
}
.rc-21 {
    background-image: url('../img/0-2.gif');
    background-size: 200px 200px;    
}
.rc-22 {
    background-image: url('../img/2-1.gif');
    background-size: 200px 200px;    
}
.rc-23 {
    background-image: url('../img/1-2.gif');
    background-size: 200px 200px;    
}
.rc-31 {
    background-image: url('../img/2-0.gif');
    background-size: 200px 200px;    
}
.rc-32 {
    background-image: url('../img/1-0.gif');
    background-size: 200px 200px;    
}
.rc-33 {
    background-image: url('../img/0-0.gif');
    background-size: 200px 200px;    
}

li.locked {
    background-color: #505050;
    background-image: url('../img/lock_m_i.png');
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

/* End of Grids */

/*Intro */
div.intro-cover {
 //   background-color: yellow;
    background-color: #003471;  
    z-index: 999;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
     font-family: sans-serif;
    color: white;
    font-size: 4em;
    /*visibility: hidden;*/
    align-self: center;
}



div.text-overlay {
    background-color: #003471;  
    z-index: 998;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
     font-family: sans-serif;
    color: white;
    font-size: 4em;
    /*visibility: hidden;*/
    align-self: center;
    display: none;
}

.centered-text {
    margin:auto;  position: absolute;
   top: 45%;
  left: 50%;
   transform: translate(-50%, -50%);
  font-family: "Segoe UI", Verdana, Sans-Serif;
  font-size: 1.5em;
  text-align:center;
    display: none;
}

.notif-first {
   // display:none;
 //   visibility: hidden;
  //  opacity: 0;
}

.notif-second {
   //display:none;
   // opacity: 0;
}

/*End of Intro*/